.sale-main-word{
position: relative;
z-index: 5;


}
.drop-h5{
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.81rem;
  font-family:sans-serif,  Avenir-NextBold,bolder;
  color: rgba(0, 0, 0, 0.808);
  font-weight: 800;
  z-index: 5;
}
.drop-p{
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.72rem;
  font-family:sans-serif,  Avenir-NextBold,bolder;
  color: rgba(0, 0, 0, 0.658);
  font-weight: 600;
  z-index: 5;
}

.dropdown-list{
  width: 68.3rem;
  margin: auto;
  position: absolute;
  top:1.9rem;
  left: -12.6rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  z-index: 5;
  background-color: white;
}
.dropdown-div{
  display: grid;
  text-align: start;
  z-index: 5;
}
.drop-h5:hover{
  color: #ec008c;
  z-index: 5;
}
.drop-p:hover{
  color:  #ec008c;
  z-index: 5;
}