
.main-h1{
  line-height: 1.15;
  text-align: center;
  box-sizing: border-box;
  margin: 0 0 20px;
  width: 100%;
  font-size: .87778rem;
  font-family: Avenir-NextBold,bolder;
  color:rgba(0, 0, 0, 0.719);
  letter-spacing: 2px;
  padding-top: 30px;
  font-weight: 900;
}
.main-h2{
  -webkit-text-size-adjust: 100%;
  font-family: Avenir-Next,sans-serif;
  letter-spacing: .3px;
  text-align: center;
  line-height: 1.7;
  color: #656565;
  box-sizing: border-box;
  margin: 0;
  font-size: 1.17778rem;
}
.main-footer-p{
  display: flex;
  justify-items: center;
  justify-content:center ;
  font-family: Avenir-Next,sans-serif;
  text-align: center;
  line-height: 1.7;
  color: #656565;
  box-sizing: border-box;
  margin: 0;
  font-size: 0.777rem;
}
.main-footer{
  margin-top: 20px;
  padding-top: 30px;
  max-width: 93%;
  margin: auto;
}
/* footer 2nd css insta facebook ke baad vali */
.main-footer-down-2{
  max-width: 90%;
  
}
.footer-link{
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  gap: 40px;
}

.footer-link-a{
line-height: 1.15;
text-align: center;
box-sizing: border-box;
background-color: initial;
outline: 0;
display: inline-block;
transition: color .5s ease;
cursor: pointer;
font-family: Avenir-NextBold;
text-transform: uppercase;
color: #000;
text-decoration: none;
will-change: color;
font-size: 0.93rem;
letter-spacing: 2px;
padding-left: 0;
font-weight: 900;
}
.footer-link-a:hover{
  color: #ec008c;
}
.footer-link-ic{
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  gap: 40px;

}
.footer-ic{
  text-align: center;
  transition: color .5s ease;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  will-change: color;
  font-size: 1.83rem;
  }
  .footer-ic:hover{
    color: #ec008c;
  }
  /* 2002 privacy ala css */
  .main-footer-down-3{
    max-width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
  .footer-link-b{
    line-height: 1.15;
    font-family: Avenir-Next,sans-serif;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 6px;
    cursor: pointer;
    font-size: .66667rem;
    color: #000;
    text-decoration: none;
    letter-spacing: .4px;
    border: 0;
    padding-left: 0;
  }
  .footer-link-b:hover{
    color: #ec008c;
  }
  .footer-link-b::after{
    content: "|";
    margin-left: 10px;
  }
  .footer-link1{
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    gap: 10px;
  }

  /* Btn csss */
.footer-btn{
  box-sizing: border-box;
  line-height: 1.15;
  margin: 0;
  font-family: Avenir-Next,sans-serif;
  display: inline-block;
  outline: 0;
  border: 0;
  width: 150px;
  padding: 16px 14px;
  background: #abc72c;
  cursor: pointer;
  font-size: .97778rem;
  font-weight: 500;
  text-align: center;
  color: #000;
  
}
.icn{
  margin-right: 2px;
}
.btn-box{
  max-width: 12%;
  margin: auto;
}
/* Btn csss */
/* ------------- */
/* grey div */
.grey-div{
  background-color: #d4d3d3;
  max-width: 100%;
  padding-bottom: 50px;
}
.grey-div-1{
  
  max-width: 70%;
  margin: auto;
}
.grey-h3{
  line-height: 1.15;
  margin: 0 auto;
  padding: 50px 12px 10px;
  font-family: Avenir-NextBold;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 1.43333rem;
  letter-spacing: 3px;
  font-weight: 900;
}
.grey-input{
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  font-family: Avenir-Next,sans-serif;
  outline: 0;
  min-width: 1rem;
  min-height: 1rem;
  font-size: 1rem;
  flex-grow: 3;
  border: 0;
  padding: 15px;
  background: #fff;
}
.grey-btn{
  line-height: 1.15;
  font-size: 1rem;
  flex-grow: 1;
  display: inline-block;
  border: 0;
  background: #000;
  cursor: pointer;
  font-family: Avenir-NextBold;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding:  15px 20px 15px 20px;
  
}

.grey-inpu-box{
  margin: auto;
  max-width: 41%;
}
